{{#each ccakes}}
 <section id="card--{{@index}}" class="card-wrapper" style="border: 2px solid black">
  <div class="movie-poster">{{poster_path}}</div>
  <h3>{{title}}</h3>
  <h4>{{vote_average}}</h4>
  <p>{{overview}}</p>

  <p class="card-copy"> {{description}}</p>
 </section>
{{/each}}