{{#each ccakes}}
 <section id="card--{{@index}}" class="card-wrapper" style="border: 2px solid {{color}}">
  <h3>#{{increment @index}} Cake </h3>
  <h4>{{flavor}} {{kind}}</h4>
  <div class="cake-price">${{price}}</div>
  <div class="card-img" style="background-image: url('images/{{image}}')"></div>
  {{#if purchased}}
    <span class="cake-sold">SOLD OUT!</span>
  {{/if}}
  <p class="card-copy"> {{description}}</p>
 </section>
{{/each}}